
body{
    font-family: 'Montserrat', sans-serif;
    margin:0px;
    padding: 0px;
}

.nav_header ul
{
    display: flex;
    list-style-type: none;
    margin: 10px;

}
.nav_header li
{
    margin: 10px;
  
}
.logo
{
    margin:10px;
    padding-right: 10px;
   
}
.nav_header a
{
 text-decoration: none;
 color: black;
}
header
{
    background-image: url(../media/bg.jpeg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
   

}
.top_bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
}
.container
{
    max-width: 1200px;
    margin:auto;

}
.banner_desc
{
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 500px;
    /* margin-left: auto; */
    padding-left: 700px;
}
.btn
{
    background-color : #10c9c3;
    padding: 30px 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    width: 150px;
 
}
.btn a{
    font-size: 20px;
    text-decoration: none;
    color: red;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    

}
.wrapper
{
    background-color: rgba(255, 255, 255, 0.2)
}
p{
    line-height: 1.5;
}

.img_cont
{
    display: flex;
    margin: 1.1em;
}
.custom_btn{
    padding: 20 20 20px;
    text-decoration: none;
    border: solid 1px burlywood;
    color: rgb(216, 15, 15);
}